body {
    font-family: Arial, sans-serif;
    background-color: #70c5ce;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative; /* Allows absolute positioning of save icon */
}

#gameCanvas {
    background-color: #fff;
    border: 2px solid #000;
}

#score {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#saveIcon {
    position: absolute;
    bottom: -10px;  /* Position it below the canvas */
    right: -10px;   /* Position it to the right of the canvas */
    width: 40px;    /* Set the size of the save icon */
    height: 40px;
}
