body {
    font-family: Arial, sans-serif;
    background-color: #2bdfbe;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#gameCanvas {
    background-color: #fff;
    border: 2px solid #000;
}

#score {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#saveIcon {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#saveIcon:hover {
    opacity: 0.8;
}
